[defaults]

inventory = ./inventory.ini
roles_path = ./roles
remote_user = student
deprecation_warnings = False

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = False